# Default ignored files
/../../sumbition project 1 /.idea/shelf/
/../../sumbition project 1 /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../sumbition project 1 /.idea/httpRequests/
# Datasource local storage ignored files
/../../sumbition project 1 /.idea/dataSources/
/../../sumbition project 1 /.idea/dataSources.local.xml
